body { background: rgb(236, 240, 241); }

.head-section, .head-section a {
  color: #FFF;
  background: rgb(26, 188, 156);
}
.head-section p {
  margin-top: 5px;
  margin-bottom: 5px;
}

h1.site-title {
  font-weight: 1200;
}

#reps-table a { color: rgb(26, 188, 156);}

#reps-table th,td, #percentages-table th,td {
    padding: 3px 3px;
    text-align: left; }
  th:first-child,
  td:first-child {
    padding-left: 0; }
  th:last-child,
  td:last-child {
    padding-right: 0; }

.Brzycki { color: rgb(22, 160, 133); font-weight: bold;}
.Epley { color: rgb(44, 62, 80); font-weight: bold;}
.Lander { color: rgb(231, 76, 60); font-weight: bold;}

.chart-section {
  margin-top: 5px;
  padding-top: 5px;
}

.footer-section, .main-section, .what-is-1rm-section {
  margin-top: 10px;
  padding-top: 10px;
}

.footer-section {
  background: rgb(44, 62, 80);
  color: #c0c0c0;
}

.input-container { width: 50%; float: left; }
.buttons-container { width: 50%; float: right;}

#weightInput, #repsInput { width: 100%; vertical-align: bottom; }

.change-btn {
  width: 45%;
  margin-left: 3px;
  font-size: 3.0rem;
  padding: 0;
  color: #FFF;
  background-color: rgb(44, 62, 80);
  border-color: #CCC;
}
.change-btn:hover {
  color: #FFF;
  background-color: rgba(44, 62, 80, 0.9);
  border-color: #CCC;
}

.share-container a img {
width: 32px;
height: 32px;
margin: 3px;
padding: 0;
display: inline;
}

.fb-share-button, .twitter-share-button { margin: 5px; float: right; height: 20px !important; }
.fb-share-button a { margin: 0; padding: 0; }
